.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

.quote {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #00b39b;
  font-size: 38px;
}

.description-block {
  color: #747474;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 3.75rem auto 2.5rem;
  line-height: 1.7;
}

.description {
  padding: 0 25px;
}

@media screen and (max-width: 800px) {
  .description-block {
    display: inline-block;
    max-width: 90%;
    margin: 15px 0px;
  }
  .quote {
    padding: 0 20px;
  }
}

@media screen and (max-width: 550px) {
  .description-block {
    display: inline-block;
    max-width: 90%;
    margin: 15px 0px;
  }
}
